<h1><%=@user.username%> Here are your Orders</h1>

<div id="order-show-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          Status
        </th>
        <th>
          View Details
        </th>
      </tr>
    </thead>
    <%@user.orders.each do |order| %>
      <tr>
        <td>
          <%=order.id %>
        </td>
        <td>
          <%=order.status %>
        </td>
        <td>
        <%= link_to "View Details", order_path(order) %>
        </td>
      </tr>
      <%end %>
    </tbody>
  </table>
</div>
</div>
