.card-outer-container {
  padding-left: 200px;
  padding-right: 200px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-category {
  width: 200px;
  height:200px;
  margin: 5px;
  border: 2px solid $color2;
  border-radius: 5px;
  padding: 2px;
  display: flex;
  justify-content: center;
  a {
    margin-top: 85px;
    color: $color3;
  }
}

.card-show {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 550px;
  margin: 5px;
  border: 2px solid $color2;
  border-radius: 5px;
  padding: 2px;
  justify-content: left;

  .card-description {
    height: 150px;
    overflow-x: hidden;
  }

  .card-show-button {
    display: flex;
    justify-content: space-around;
    margin-bottom: 17px;

    .card-show-link {
      margin-top: 15px;
    }
  }
}
