
/* Coolors Exported Palette - coolors.co/ccdad1-9caea9-788585-6f6866-38302e */

/* HSL */
$color1: hsla(141%, 16%, 83%, 1);
$color2: hsla(163%, 10%, 65%, 1);
$color3: hsla(180%, 5%, 50%, 1);
$color4: hsla(13%, 4%, 42%, 1);
$color5: hsla(12%, 10%, 20%, 1);

/* RGB */
$color1: rgba(204, 218, 209, 1);
$color2: rgba(156, 174, 169, 1);
$color3: rgba(120, 133, 133, 1);
$color4: rgba(111, 104, 102, 1);
$color5: rgba(56, 48, 46, 1);

$color6: #BCED91;

$custom-border: 3px black;

body{

  h1{
    border: $custom-border;
    margin-top: 15px;
    text: {
      align: center;
      color: $color3;

    }
  }
  h2{
    @extend h1;
  }
  .row{
    border: $custom-border;
  }
}
.navbar{
  background-color: $color4;
  font-size: 1.5em;

  a{
    color: $color2;
  }
}
.btn {
    padding: 14px 24px;
    font-size: .75em;
    text-transform: uppercase;
	  margin: 3px;
}
.carousel {
  width:1200px;
  height:1200px;
  margin: auto;
}
.home{
  padding-left: 10px;
  font-size: .75em;
  text-align: center;
  margin: 30px;
}
.user-info{
  margin: 30px;
  padding-left: 10px;
  border: 2px solid $color1;
  font-size: .75em;
}
div#order-show-table {
  margin: 30px;
  border: 2px solid $color1;
}
div.order-show-total {
  margin: 30px;
  padding-left: 10px;
  border: 2px solid $color1;
}

div#admin-dash-header {
  margin: 30px;
  border: 2px solid $color1;
  display: flex;
  justify-content: space-around;
}
#admin-dash-header .link{
  padding-top: 8px;
}

#admin-dash-header .total {
  padding-top: 8px;
  font-weight: bold;
}

div#order-table {
  margin: 30px;
  border: 2px solid $color1;
  border-radius: 10px;
}

#filter_by {
  margin: 30px;
  border: 2px solid $color1;
  display: flex;
  justify-content: space-around;
}

#filter_by .link {
  padding-top: 8px;
}

#item{
  margin: 30px;
  border: 2px solid $color1;
  display: flex;
  justify-content: space-around;
}
.col-sm-4{
  padding-top: 8px;

}
.image-fl-index {
  padding: 5px;
}

.total-price-cart{
  margin: 30px;
  border: 2px solid $color1;
  display: flex;
  justify-content: space-around;

}

.form-outline {

  background: $color1;
  border: 2px solid $color1;
  border-radius: 10px;
  width: 600px;
  margin-top: 5px;

  .new-account-item {
    width: 450px;
    padding-left: 100px;

    .account-input {
      width: 400px;
      margin-top: 12px;
      margin-bottom: 10px;
    }

    .new-account-box {
      width: 375px;
    }

    .new-account-label {
      margin-right: 20px;
    }

    .create-button {
      margin-left: 130px;
      margin-bottom: 10px;
    }
  }
}

.cat-index-large {
  margin-bottom: 25px;
}
.category-index {
  margin-top: 40px;
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: end;
  border: 2px solid $color1;
  border-radius: 10px;
  align-items: flex-end;

  .category-link {
    margin-bottom: 25px;
    text-decoration: none;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.login {
  padding: {
    top: 25px;
    bottom: 25px;
  }

}
