


/* Coolors Exported Palette - coolors.co/ccdad1-9caea9-788585-6f6866-38302e */

/* HSL */
$color1: hsla(141%, 16%, 83%, 1);
$color2: hsla(163%, 10%, 65%, 1);
$color3: hsla(180%, 5%, 50%, 1);
$color4: hsla(13%, 4%, 42%, 1);
$color5: hsla(12%, 10%, 20%, 1);

/* RGB */
$color1: rgba(204, 218, 209, 1);
$color2: rgba(156, 174, 169, 1);
$color3: rgba(120, 133, 133, 1);
$color4: rgba(111, 104, 102, 1);
$color5: rgba(56, 48, 46, 1);

$custom-border: 5px dashed black;



body{
  h1{

    border: $custom-border;
    text: {
      align: center;
      color: $color3;
    }
  }
}

.form-outline {

  background: $color1;
  border: 2px solid $color1;
  border-radius: 10px;
  margin-left: 350px;
  width: 600px;
  margin-top: 5px;

  .new-account-item {
    width: 450px;
    padding-left: 100px;

    .account-input {
      width: 400px;
      margin-top: 12px;
      margin-bottom: 10px;
    }

    .new-account-box {
      width: 375px;
    }

    .new-account-label {
      margin-right: 20px;
    }

    .create-button {
      margin-left: 130px;
      margin-bottom: 10px;
    }
  }
}
