<h2>TechTime connects you with talented techies with these specialties:</h2>

<div class="card-outer-container">
  <div class="card-container">
    <% @categories.each do |category| %>
      <div class="card-category">
        <%= link_to category.title, category_path(category.slug), class: 'category-link' %>
      </div>
    <% end %>
  </div>
</div>
